# Install spaCy models after pip install -r requirements.txt:
# python -m spacy download en_core_web_sm
# python -m spacy download en_ner_bc5cdr_md

spacy>=3.7
scikit-learn
numpy
pandas
flask
flask-cors
joblib
transformers
torch
scispacy
datasets
kaggle